* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #F5F5F5;
  font-family: 'Inter', sans-serif;
  color: #595959;
  font-size: 14px;
  line-height: 22px;
  overflow-x: hidden ;
  text-decoration-thickness: none;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.container{
  width: 1206px;
  padding-top:55px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}